/* 

Nome do Projeto: Site QQ 
Cliente: QuatroQuartos
Autor: George Bleyer

*/

body {
	 
	background: url('../images/fundo.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	margin: 0;

}

#container {

	background: #ffff4e;
	width: 400px;
	color: #333333;
	padding: 15px;
	border: none;
    margin-top: -20px;
	height: 95.5vh;
}

#logoqq{

	background: url('../images/LogoQQ.png');
	background-size: contain;
	width: 500px;
	height: 208px;

}

h1{

	font-size: 60px;
	
}

h2{

	color: #ffff4e;
	background: #333333;
	padding: 5px;
	border-radius: 5px;
	
}

p{

	text-align: justify;

}

a{

	color: #75c1f6;
	text-decoration: none;

}