/*
Nome do projeto: 
Autor: George Bleyer
Desenvolvido por: @georgebleyer
*/

/*----------------------------------------------------------------------------- 
Base styles
-----------------------------------------------------------------------------*/
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
/* Clear Class */
.clear {
	clear: both;
}
/* Alinhar a esquerda */
.alignleft{
     float: left;
     margin: 0 15px 15px 0;
}
/* Alinhar a direita */
.alignright{
     float: right;
     margin: 0 0 15px 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Lexend+Deca&display=swap');

/*----------------------------------------------------------------------------- 
:root
-----------------------------------------------------------------------------*/
:root{
     --bright-orange: hsl(31, 77%, 52%);
     --dark-cyan: hsl(184, 100%, 22%);
     --very-dark-cyan: hsl(179, 100%, 13%);
     --transparent-white: hsla(0, 0%, 100%, 0.75);/*(paragraphs)*/
     --very-light-gray: hsl(0, 0%, 95%);/*(background, headings, buttons)*/
}
/*----------------------------------------------------------------------------- 
Elements
-----------------------------------------------------------------------------*/
h1{
     color: var(--very-light-gray);
     font-family: 'Lexend Deca', sans-serif;
}
p{
     color: var(--transparent-white);
     font-family: 'Big Shoulders Display', cursive;
     font-size: 0.9rem;
     line-height: 1.7;
     opacity: 70%;
     padding-bottom: 70px;
}
/*----------------------------------------------------------------------------- 
body
-----------------------------------------------------------------------------*/
body{
     display: flex;
     flex-direction: column;
     place-items: center;
     justify-content: center;
     min-height: 100vh;
}
/*----------------------------------------------------------------------------- 
.main
-----------------------------------------------------------------------------*/
main{
     width: 900px;
     height: 450px;
     display: flex;
     flex-direction: row;
     
}
/*----------------------------------------------------------------------------- 
.sedans
-----------------------------------------------------------------------------*/
.sedans{
     width: 300px;
     background-color: var(--bright-orange);
     padding: 40px;
     border-radius: 10px 0 0 10px;
}
.buttonsedans{
     background-color: white;
     border: none;
     padding: 0.8rem;
     font-size: 1rem;
     width: 8em;
     border-radius: 2rem;
     color: var(--bright-orange);
     cursor: pointer;
}
.buttonsedans:hover:not(:disabled) {
     background: var(--bright-orange);
     color: white;
     border: solid 1px;
     border-color: white;
}
/*----------------------------------------------------------------------------- 
.suvs
-----------------------------------------------------------------------------*/
.suvs{
     width: 300px;
     background-color: var(--dark-cyan);
     padding: 40px;
}
.buttonsuvs{
     background-color: white;
     border: none;
     padding: 0.8rem;
     font-size: 1rem;
     width: 8em;
     border-radius: 2rem;
     color: var(--dark-cyan);
     cursor: pointer;
}
.buttonsuvs:hover:not(:disabled) {
     background: var(--dark-cyan);
     color: white;
     border: solid 1px;
     border-color: white;
}
/*----------------------------------------------------------------------------- 
.luxury
-----------------------------------------------------------------------------*/
.luxury{
     width: 300px;
     background-color: var(--very-dark-cyan);
     padding: 40px;
     border-radius: 0 10px 10px 0;
}
.buttonluxury{
     background-color: white;
     border: none;
     padding: 0.8rem;
     font-size: 1rem;
     width: 8em;
     border-radius: 2rem;
     color: var(--very-dark-cyan);
     cursor: pointer;
}
.buttonluxury:hover:not(:disabled) {
     background: var(--very-dark-cyan);
     color: white;
     border: solid 1px;
     border-color: white;
}
/*----------------------------------------------------------------------------- 
button .suvs
-----------------------------------------------------------------------------*/
button{
     font-weight: 200;
     transition-duration: 0.4s;
} 

@media only screen and (max-width: 900px) {

     main{
          display: flex;
          flex-direction: column;
          place-items: center;
          width: 300px;
          height: 100%;
          min-height: 100vh;
     }
     .sedans{
          border-radius: 10px 10px 0 0;
     }
     .luxury{
          border-radius: 0 0 10px 10px;
     }

}