/*
Nome do projeto: 
Autor: George Bleyer
Desenvolvido por: @georgebleyer
*/

/*----------------------------------------------------------------------------- 
=01 BASE STYLES 
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
}

/* Alinhar a esquerda */
.alignleft{
     float: left;
     margin: 0 15px 50px 0;
}

/* Alinhar a direita */
.alignright{
     float: right;
     margin: 0 0 15px 15px;
}

a{
     text-decoration: none;
}

/*----------------------------------------------------------------------------- 
=02 Elements
-----------------------------------------------------------------------------*/
p{
     text-align: justify;

}

/*----------------------------------------------------------------------------- 
=03 Classes 
-----------------------------------------------------------------------------*/
.zero{
     margin: 0;
     padding: 0;
}
.hicon {
     padding-left: 15px;
}
.color1 {
      color: #000000
};
.color2 { 
     color: #14213D
};
.color3 { 
     color: #FCA311
};
.color4 { 
     color: #E5E5E5
};
.color5 { 
     color: #FFFFFF
};



/*----------------------------------------------------------------------------- 
=04 Ids 
-----------------------------------------------------------------------------*/
#container{
     width: 100%;
     background-color: red;
}

#header{
     width:300px;
     background-color: white;
     height: 80px;
     width: auto;
     padding: 10px;
}

#header h2{
     margin-top: 10px;
     margin-bottom: 0;
     border-right: solid;
     border-right-width: 2px;
     border-right-color: white;
     padding: 10px;
     font-weight: normal;
}

#icones{
     width: auto;
     background-color: white;
     margin-top: 12px;
}

#welcome{
     width: 100%;
     background-color: #14213D;
     color: white;
     height: 300px;
}

#welcome h1{
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 25px;
     padding-top: 100px;
     font-size: 75px;  
}

#main{
     width: 100%;
     padding: 50px;
     height: auto;
     background-color: white;
}

#main h2{
     font-size: 38px;
     color: #FCA311;
}

#main p{
     font-size: 20px;
     font-family: 'Courier New', Courier, monospace;
     color: black;     
}

#projetos{
     width: 100%;
     background-color: #14213D;
     color: white;
     height: 450px;
}

#projetos h1{
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 25px;
     font-size: 50px;  
}
#footer{
     background-color: white;
     color: #FCA311;
     height: 200px;
     background-color: #E5E5E5;
}

#footer h1{
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 25px;
     font-size: 50px;  
}

#iconesfooter{
     padding: 10px;
     text-align: center;
     background-color: #E5E5E5;
}

.card {

     float: left;
     width: 190px;
     height: 254px;
     margin-left: 110px;
     margin-top: 20px;
     border-radius: 20px;
     background: #f5f5f5;
     position: relative;
     padding: 1.8rem;
     border: 2px solid #c3c6ce;
     transition: 0.5s ease-out;
     overflow: visible;
    }
    
    .card-details {
     color: black;
     height: 100%;
     gap: .5em;
     display: grid;
     place-content: center;
    }
    
    .card-button {
     transform: translate(-50%, 125%);
     width: 60%;
     border-radius: 1rem;
     border: none;
     background-color: #008bf8;
     color: #fff;
     font-size: 1rem;
     padding: .5rem 1rem;
     position: absolute;
     left: 50%;
     bottom: 0;
     opacity: 0;
     transition: 0.3s ease-out;
    }
    
    .text-body {
     color: rgb(134, 134, 134);
    }
    
    /*Text*/
    .text-title {
     font-size: 1.5em;
     font-weight: bold;
    }
    
    /*Hover*/
    .card:hover {
     border-color: #008bf8;
     box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
    
    .card:hover .card-button {
     transform: translate(-50%, 50%);
     opacity: 1;
    }